 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/g2ddb86c7b57d356d3c4a4fb9acdb4051ec9d3c1e579126c9982869f6df6b7a6343810f1cc3d6b56b9d0b69701854513f15ef092bbbd95b18f7bbfb9a4a23dcb4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 975px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 23px auto 0 13px;
  padding: 8px 33px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -22px 0 0 820px;
}

.u-section-1 .u-text-2 {
  margin: 208px 595px 0 56px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 215px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  row-gap: 10px;
  column-gap: 10px;
  min-height: 230px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 66px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 66px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 19px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 66px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -41px;
    margin-left: 620px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 451px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 244px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -243px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 231px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 465px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -464px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 51px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 426px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 640px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }
}